
<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section class="py-4">
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Contatti">{{ .Site.Params.footerColumn1Title }}</a></h4>
            <p>{{ .Site.Params.footerColumn1Text }}</p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                {{ range .Site.Params.footerColumn1Links }}
                  <li><a class="list-item" href="{{ .url }}" title="{{ .label }}">{{ .label }}</a></li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Lorem Ipsum">{{ .Site.Params.footerColumn2Title }}</a></h4>
            <p>{{ .Site.Params.footerColumn2Text }}</p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                {{ range .Site.Params.footerColumn2Links }}
                  <li><a class="list-item" href="{{ .url }}" title="{{ .label }}">{{ .label }}</a></li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <div class="pb-2">
              <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
              <ul class="list-inline text-left social">
                <li class="list-inline-item"><a class="p-2 text-white" href="https://developers.italia.it/" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="{{ .Site.BaseURL }}/svg/sprite.svg#it-designers-italia"></use></svg><span class="sr-only">Designers Italia</span></a></li>
                <li class="list-inline-item"><a class="p-2 text-white" href="https://twitter.com/developersITA" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="{{ .Site.BaseURL }}/svg/sprite.svg#it-twitter"></use></svg><span class="sr-only">Twitter</span></a></li>
                <li class="list-inline-item"><a class="p-2 text-white" href="https://medium.com/team-per-la-trasformazione-digitale/" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="{{ .Site.BaseURL }}/svg/sprite.svg#it-medium"></use></svg><span class="sr-only">Medium</span></a></li>
                <li class="list-inline-item"><a class="p-2 text-white" href="https://github.com/italia/" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="{{ .Site.BaseURL }}/svg/sprite.svg#it-github"></use></svg><span class="sr-only">Behance</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="sr-only">Sezione Link Utili</h3>
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        {{ range .Site.Params.footerBottomLinks }}
        <li class="list-inline-item"><a href="{{ .url }}" title="{{ .label }}">{{ .label }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</footer>
